<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}RAG-Powered ML Workbench{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', path='css/style.css') }}">

    {% block extra_css %}{% endblock %}

</head>

<body>

<div class="container">

    <aside class="sidebar">

        <h2>RAG-Powered ML Workbench</h2>

        <ul>

            <li>
                <a href="/"
                   class="{{ 'active' if request.url.path == '/' else '' }}">
                    📂 Dataset Analyzer
                </a>
            </li>

            <li>
                <a href="/assistant"
                   class="{{ 'active' if request.url.path == '/assistant' else '' }}">
                    🤖 AI Assistant
                </a>
            </li>

            <li>
                <a href="/clean"
                   class="{{ 'active' if request.url.path == '/clean' else '' }}">
                   🧹 Data Cleaning</a>
            </li>
            
            <li>
                <a href="/feature"
                   class="{{ 'active' if request.url.path == '/feature' else '' }}">
                    🛠️ Feature Engineering
                </a>
            </li>
            
            <li>
                <a href="#">
                    ⚙️ Model Training
                </a>
            </li>
            
            <li>
                <a href="#">
                    📈 Evaluation
                </a>
            </li>
            
            <li>
                <a href="#">
                    📜 History
                </a>
            </li>

        </ul>

    </aside>

    <main class="content">

        {% block content %}

        {% endblock %}

    </main>

</div>

{% block extra_js %}{% endblock %}

</body>

</html>
